
.products{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 81px;
    }
    &__title{
        margin-top: 32px;
    }
    &__productItems{
        margin: 0 -17px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
