.emptyShoppingCart{
    &__container{
        max-width: 547px;
        width: 100%;
        margin: 163px auto;
        text-align: center;
        padding-bottom: 163px;

    }
    &__smile{
        margin-top: 47px;
        width: 300px;
    }
    &__btn{
        display: block;
        background: #282828;
        font-size: 16px;
        color: #FFFFFF;
        margin: 74px auto 0;
        width: 210px;

    }
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        img{
            margin-left: 10px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 145.4%;
        color: #777777;
    }
}
