@import '../../scss/variables';

.container {
    max-width: 821px;
    width: 100%;
    margin: 94px auto 0;
}

.shoppingCart {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__innerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__titleHeader {
        font-size: 32px;
        margin-left: 17px;
    }

    &__buttonHeader {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        color: #B6B6B6;
        cursor: pointer;

        img {
            margin-right: 7px;
        }
    }

    &__shoppingCartItem {
        height: 300px;
        overflow: auto;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }

    &__totalAll {
        font-size: 22px;
        font-weight: 400;

        span {
            font-weight: 800;
        }
    }

    &__totalPrice {
        font-weight: 400;
        font-size: 22px;

        span {
            color: $orange-color;
            font-weight: 800;

            img {
                width: 12px;
                margin-left: 5px;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding-bottom: 131px;
    }
    &__btnPay{
        background: $orange-color;
        font-size: 16px;
        color: #FFFFFF;

    }
    &__btnBack{
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        color: #CACACA;
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        img{
            margin-right: 8px;
        }
    }
}