.header{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        border-bottom: 1px solid #F7F7F7;
        padding-bottom: 40px;
    }
    &__search{
        position: relative;
        img{
            width: 17px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 65px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
            border: 1px solid rgba(0,0,0,.1);
            border-radius: 10px;
            font-size: 16px;
            padding: 12px 20px 12px 42px;
            width: 400px;
            margin-left: 50px;
            &:hover{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }
    }
}
