@import '../../../scss/variables';
.wrapper{
    @media (max-width: 980px){
        width: 100%;
        overflow: auto;
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 980px){
        margin-top: 30px;
        width: 785px;
    }

    &__item{
        color: $text-color;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-right: 9px;
        cursor: pointer;
    }
    &__active{
        background: $active-btn;
        color: $active-btn-text;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-right: 9px;
        cursor: pointer;
    }
}
