@import './src/css/variables';
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnItem {
    color: $text-color;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-right: 9px;
    cursor: pointer;

    &:active {
        background: $active-btn;
        color: $active-btn-text;
    }
}