@import 'src/css/variables';

.wrapper {
    max-width: 1340px;
    margin: 10px auto 0;
    width: 100%;
    background: $wrapper-background-color;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    font-weight: 800;
}

.container {
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    padding: 15px 23px;
    background-color: $bg-btn;
    border: none;
    border-radius: 30px;
}