@import 'scss/normalize';
@import 'scss/variables';
@import 'scss/global';
@import 'scss/fonts';

body {
    background-color: $body-background-color;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: bold;
}

